#header{
    width: 100%;
    background-color: dodgerblue;
    color: lavenderblush;
    padding: 0.3rem;
    position: sticky;
}

.logo{
    font-family: "Bookman Old Style";
    font-size: 3rem;
    display: inline-block;
}